   <header class="header" role="banner">

        <div class="container">
            <div class="header__container">


                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-2 col-4">
                        <a href="/" class="d-sm-block d-none"><img class="header__logo" src="{{ module.logo.src }}" alt="{{ module.logo.alt }}"></a>
                        <a href="/" class="d-sm-none d-block"><img class="header__logo" src="{{ module.logo.src }}" alt="{{ module.logo.alt }}"></a>
                    </div>

                    <div class="col-lg-6 col-md-7 d-md-block d-none">

<!--                             <nav class="header__links">
                                        <div class="header__link-holder">
																					{% simple_menu menu_tree="{{ module.simplemenu_field }}" %}
                                        </div>
                            </nav> -->
                        {% menu id="{{ module.menu_field }}" %}
<!--                         {% simple_menu menu_tree="{{ module.simplemenu_field }}" %} -->
                    </div>
                    <div class="col-md-3 col-8 header__right">
                        {# <a class="header__login" href="<?php echo $login['url'] ?>">Login</a> #}
											{% set href = module.contact_us_link.url.href %}
											{% if module.contact_us_link.url.type is equalto "EMAIL_ADDRESS" %}
												{% set href = "mailto:" + href %}
											{% endif %}
											<a href="{{ href }}" class="header__postie-button postie-button postie-button--small"
												{% if module.contact_us_link.open_in_new_tab %}target="_blank"{% endif %}
												{% if module.contact_us_link.rel %}rel="{{ module.contact_us_link.rel }}"{% endif %}
												>
												Contact Us
											</a>
                        <div class="header__hamburger-button d-inline-block d-md-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </header>
   <div class="header__dropdown d-flex d-md-none">
	     {% simple_menu menu_tree="{{ module.simplemenu_field }}" %}
    </div>