 <section class="resource-hero">
    <div class="container">
      <div class="resource-hero__header-section">
        <div class="row">
          <div class="col-12">
            <h1 class="resource-hero__header h2">
             {% inline_text field="header" value="{{ module.header }}" %}
            </h1>
            <p class="resource-hero__description p2">
              {% inline_rich_text field="description" value="{{ module.description }}" %}
            </p>
          </div>
        </div>
      </div>

      <div class="resource-hero__blogs">
        <div class="row">
          {% if module.most_popular %}
            {% set selected_posts = blog_popular_posts('default', 3) %}
          {% else %}
            {% set list = [] %}
            {% for item in module.blogs %}
              {% do list.append(item.blog) %}
            {% endfor %}
            {% set selected_posts = content_by_ids(list) %}
          {% endif %}
          
          {% for post in selected_posts %}
          <div class="col-4">
            <a href="{{ post.absolute_url }}" class="resource-hero__blog">
              <div class="resource-hero__blog-image">
                <img
                  src="{{ post.featured_image }}"
                  alt="Blog"
                />
              </div>
              <div class="resource-hero__blog-type">
              {% if post.tag_list %}
                {% for tag in post.tag_list %}{{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}
              {% endif %}
              </div>
              <p class="resource-hero__blog-description p1">
                {{ post.name }}
              </p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
 </section>