<div class="blog-quote">
  <div class="row">
    <div class="col-12 col-md-6 order-2 order-md-1">
      <div class="blog-quote__info-container">
        <div class="blog-quote__info">
          <div class="blog-quote__header h4">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis
            ullamcorper id et vel et commodo nibh. Imperdiet tellus cras sit
            amet ligula vel velit ut sed.”
          </div>
          <div class="blog-quote__author p2">
            Kyle Smith, Chief Real Estate Officer of VMware
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2">
      <div class="blog-quote__image">
        <img
          src="https://f.hubspotusercontent10.net/hubfs/9346563/img-ourPledge.png"
          alt="Author"
        />
      </div>
    </div>
  </div>
</div>
