<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
<section class="checklist">

    <div class="container">
        <h2 class="checklist__header">{{ module.title }}</h2>
        <p class="checklist__label d-sm-block d-none">{{ module.text }}</p>

        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="checklist__image" style="background-image:url('<?php echo get_field('image'); ?>">
                </div>
            </div>
            <p class="checklist__label d-block d-sm-none">{{ module.text }}</p>
            <div class="col-sm-6 col-12">
                <div class="checklist__checks">
                    {% for item in module.checklist %}
                        <div class="checklist__check">
                            {{ item.text }}
                        </div>
                    {% endfor %}
                </div>
                <div class="checklist__description d-sm-block d-none">
                    {{ module.description }}
                </div>
            </div>
        </div>
    </div>
</section>