<!--
  templateType: "none"
  isAvailableForNewContent: false
-->

<section class="features">
  <div class="features__title">{{ module.title }}</div>
  <div class="features__items">

    {% for item in module.items %}
      <div class="features__item">
            <div class="features__item__image-holder">
              <img src="<?php echo  $image['url'] ?>" alt="feature" />
            </div>
            <div class="features__item__text-holder">
              <div class="features__item__title">{{ item.title }}</div>
              <div class="features__item__text">{{ item.text }}</div>
            </div>
        </div>
    {% endfor %}
  </div>
</section>