<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
<section class="hero-simple">

    <div class="container">
        <div class="row">
            <div class="d-none d-md-block col-1"></div>
            <div class="col-12 col-sm-6">
                <div class="hero-simple__header-container">
                    <h2 class="hero-simple__header">{{ module.title }}</h2>
                </div>

            </div>


            <div class="col-12 col-sm-6 col-md-5">
                <div class="hero-simple__image" style="background-image:url('<?php echo get_field('image')['url'] ?>')"></div>
            </div>
        </div>
    </div>

</section>