<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
<section class="image-line">
    <div class="image-line__container">

        <div class="row justify-content-between">

            <div class="swiper-container image-line__slider">
                <div class="swiper-wrapper">

                    {% for item in module.images %}
                        <div class="swiper-slide image-line__slide">
                            <img src="<?php echo $image['url'] ?>" alt="<?php echo $image['url'] ?>" />
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>

</section>