button,
input {
  border: none;
  outline-color: #00609c;
}

select {
  outline-color: #00609c;
}

button,
input[type="button"] {
  cursor: pointer;
}

// GLOBAL //

.hs-form {
  label {
    display: none;
  }

  .hs-email {
    width: 100%;
  }

  fieldset {
    max-width: 100% !important;
  }

  .hs-input {
    width: 100% !important;
    font-size: 17px;
    padding: 11px 16px;
    border-radius: 8px;
    border: 2px solid #00293a;
    margin-bottom: 16px;
  }

  .hs-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00293a;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 13px 24px;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;

    @include hover-opacity;
  }

  .hs-error-msgs {
    display: none !important;
  }

  textarea {
    height: 130px;
    resize: none;
  }
}

.hs_cos_wrapper {
  .submitted-message {
    font-size: 24px;
    display: flex;
    height: 100%;
    font-weight: 700;
    padding-bottom: 2px;
  }
}

// LOCAL //

.ask-question .hs-form {
  .hs-button {
    width: 100%;
  }
}

.popup-get-in-touch .hs-form,
.popup-subscribe .hs-form {
  display: block;

  .hs-button {
    display: inline-flex;
    float: right;
  }

  .hs-submit {
    overflow: hidden;
  }
}

.subscribe .hs-form {
  display: flex;
  border-radius: 8px;
  border: 2px solid #00293a;
  overflow: hidden;
  padding: 0;

  .hs-input {
    border-radius: 0;
    border: none;
    margin: 0;
  }

  .hs-button {
    border-radius: 0;
    margin: 0;
  }

  .submitted-message {
    color: #fff;
    margin-top: 16px;
  }
}

.subscribe .hs_cos_wrapper {
  .submitted-message {
    color: #fff;
  }
}
