
  <section class="most-popular {% if !module.padded %}not-padded{% endif %}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="most-popular__header h3">{% inline_text field="header" value="{{ module.header }}" %}</h2>
        </div>
      </div>

      <div class="most-popular__blogs">
        <div class="row">
          
        {% if module.most_popular %}
          {% set selected_posts = blog_popular_posts(57176331600, 3) %}
        {% else %}
          {% set list = [] %}
          {% for item in module.blogs %}
            {% do list.append(item.blog) %}
          {% endfor %}
          {% set selected_posts = content_by_ids(list) %}
        {% endif %}
        
        
        {% for post in selected_posts %}
            <div class="col-12 col-md-4">
              <a href="{{ post.absolute_url }}" class="most-popular__blog">
                <div class="most-popular__blog-image">
                  <img
                    src="{{ post.featured_image }}"
                    alt="Blog"
                  />
                </div>
                <div class="most-popular__blog-description p1 arrow-right">
                  {{ post.name }}
                </div>
              </a>
            </div>
        {% endfor %}
        </div>
      </div>

  </section>
