<div class="follow d-flex align-items-center justify-content-center">
  <a class="follow__icon follow__facebook" href="https://www.facebook.com/getliquidspace/">
    <img
        src="{{ get_asset_url('../../build/assets/icons/svg/follow-facebook.svg') }}"
        alt="Follow Facebook"
    />
  </a>
  <a class="follow__icon follow__twitter" href="https://twitter.com/liquidspace?lang=en">
    <img
        src="{{ get_asset_url('../../build/assets/icons/svg/follow-twitter.svg') }}"
        alt="Follow Twitter"
    />
  </a>
  <a class="follow__icon follow__instagram" href="https://www.instagram.com/liquidspace/?hl=en">
    <img
        src="{{ get_asset_url('../../build/assets/icons/svg/follow-instagram.svg') }}"
        alt="Follow Instagram"
    />
  </a>
  <a class="follow__icon follow__linkedin" href="https://www.linkedin.com/company/liquidspace/">
    <img
        src="{{ get_asset_url('../../build/assets/icons/svg/follow-linkedin.svg') }}"
        alt="Follow Linkedin"
    />
  </a>
  <a class="follow__icon follow__youtube" href="https://www.youtube.com/channel/UCnujO6rTubtgNC9E7KSoyIA">
    <img
        src="{{ get_asset_url('../../build/assets/icons/svg/follow-youtube.svg') }}"
        alt="Follow Youtube"
    />
  </a>
  <a class="follow__icon follow__pinterest" href="https://www.pinterest.com/LiquidSpace_/">
    <img
        src="{{ get_asset_url('../../build/assets/icons/svg/follow-pinterest.svg') }}"
        alt="Follow Pinterest"
    />
  </a>
</div>
