<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="row">
        <div class="col-12 col-md-2 p-0">
          <div class="footer__logo">
            <img
              src="https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/footer-logo.svg"
              alt="Logo"
            />
          </div>
          <div class="footer__description">
            <div class="footer__info"> 1900 S Norfolk St.Suite 350<br>San Mateo, CA 94403</div>
            <a class="footer__info" href="tel:18552547843">+1 (855) 254-7843</a>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="footer__header">Solutions</div>
          <div class="footer__links">
            <a
              href="https://liquidspace.com/solutions/enterprise"
              class="footer__link"
              >Enterprise</a
            >
            <a
              href="https://liquidspace.com/solutions/enterprise"
              class="footer__link"
              >Team</a
            >
            <a
              href="https://liquidspace.com/solutions/enterprise"
              class="footer__link"
              >Individual</a
            >
            <a
              href="https://liquidspace.com/share-office-meeting-space"
              class="footer__link"
              >Host</a
            >
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="footer__header">Products</div>
          <div class="footer__links">
            <a
              href="https://liquidspace.com/network-for-office-space"
              class="footer__link"
              >Marketplace</a
            >
            <a
              href="https://liquidspace.com/products/workplace-manager"
              class="footer__link"
              >Workplace Manager</a
            >
            <a
              href="https://liquidspace.com/share-office-meeting-space"
              class="footer__link"
              >Venue Manager</a
            >
            <a href="https://liquidspace.com/connect" class="footer__link"
              >Connect Intregrations</a
            >
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="footer__header">Resources</div>
          <div class="footer__links">
            <a class="footer__link" href="https://blog.liquidspace.com/resources">The Current</a>
            <a class="footer__link" href="https://blog.liquidspace.com/perspectives">Perspectives</a>
            <a class="footer__link" href="https://blog.liquidspace.com/hybrid-workplace-101">Hybrid Workplace 101</a>
            <a class="footer__link" href="https://blog.liquidspace.com/news-stream">News Stream</a>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="footer__header">Get Started</div>
          <div class="footer__links">
            <a href="https://liquidspace.com/search" class="footer__link"
              >Find Space</a
            >
            <a href="https://liquidspace.com/us" class="footer__link"
              >Browse Locations</a
            >
            <a
              href="https://liquidspace.com/share-office-meeting-space"
              class="footer__link"
              >Become a Host</a
            >
            <a href="https://support.liquidspace.com/" class="footer__link"
              >Help</a
            >
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="footer__header">Company</div>
          <div class="footer__links">
            <a href="https://liquidspace.com/aboutus" class="footer__link"
              >About us</a
            >
            <a href="https://liquidspace.com/home/jobs" class="footer__link"
              >Careers</a
            >
            <a href="https://liquidspace.com/covid" class="footer__link"
              >COVID Updates</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="footer__line"></div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="row">
        <div class="d-block d-md-none col-12">
          {% include "../partials/follow.html" %}
        </div>
        <div class="col-6 col-md-3">
          <div class="footer__copyright">© LiquidSpace, Inc. {{ year }}</div>
        </div>
        <div class="d-none d-md-block col-6">
          {% include "../partials/follow.html" %}
        </div>
        <div class="col-6 col-md-3">
          <div
            class="footer__bottom-links d-flex align-items-center justify-content-end"
          >
            <a href="https://liquidspace.com/terms/terms-of-use" class="footer__bottom-link">Terms Of Use</a>
            <a href="https://liquidspace.com/terms/privacy-policy" class="footer__bottom-link">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
