<div class="share d-flex align-items-center justify-content-end">
  <a class="share__icon share__mail" target="_blank" rel="noopener noreferrer" href="mailto:?subject={{ page_meta.name }}&body={{ request.full_url }}">
    <img
        src="{{ get_asset_url('../../build/assets/images/svg/share-mail.svg') }}"
        alt="Share Mail"
    />
  </a>
  <a class="share__icon share__facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?u={{ request.full_url }}">
    <img
        src="{{ get_asset_url('../../build/assets/images/svg/share-facebook.svg') }}"
        alt="Share Facebook"
    />
  </a>
  <a class="share__icon share__twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text={{ page_meta.name }}%0A{{ request.full_url }}">
    <img
        src="{{ get_asset_url('../../build/assets/images/svg/share-twitter.svg') }}"
        alt="Share Twitter"
    />
  </a>
  <a class="share__icon share__linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.full_url }}&title={{ page_meta.name }}&summary=&source=">
    <img
        src="{{ get_asset_url('../../build/assets/images/svg/share-linkedin.svg') }}"
        alt="Share Linkedin"
    />
  </a>
</div>
