.image-line {
  padding: 30px 0;
  background: #e0f4ff;
  overflow: hidden;

  &__container {
    position: relative;
    max-width: 1344px;
    margin: 0 auto;
  }

  &__slider {
    height: 100%;
    width: 100%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      top: 0;
      width: 100px;
      height: 100%;
      background: linear-gradient(
        270.5deg,
        rgba(224, 244, 255, 0) -33.11%,
        #e0f4ff 87.85%
      );
      z-index: 10;
    }

    &::after {
      content: "";
      position: absolute;
      right: -1px;
      top: 0;
      width: 100px;
      height: 100%;
      background: linear-gradient(
        270.5deg,
        rgba(224, 244, 255, 0) -33.11%,
        #e0f4ff 87.85%
      );
      transform: rotate(-180deg);
      z-index: 10;
    }
  }

  &__slide {
    height: 100%;
    width: auto;
    background: no-repeat center center;
    background-size: cover;
  }
}
