.opt-out {
  padding: 77px 0 88px;
  .gform_title {
    margin-bottom: 27px;
  }

  .gform-body {
    padding-bottom: 30px;
    margin-bottom: 24px;
    border-bottom: 1px solid #ccd3d6;
  }
}

@media (max-width: breakpoint(sm)) {
  .opt-out {
    padding: 27px 0 39px;

    .gform_title {
      font-size: 32px;
      line-height: 40px;
    }

    .gform-body {
      .gfield--width-half,
      .gfield--width-three-quarter {
        grid-column: span 12 !important;
      }

      .gfield--width-quarter {
        grid-column: span 6 !important;
      }
    }
    input[type="submit"] {
      width: 100%;
    }
  }
}
