  <section class="single-hero">
    <div class="container">
      <div class="single-hero__header-section">
        <div class="row">
          <div class="col-12">
            <h1 class="single-hero__header h2">{% inline_text field="header" value="{{ module.header }}" %}</h1>
            <div class="single-hero__description p1">
              {% inline_rich_text field="description" value="{{ module.description }}" %}
            </div>
          </div>
        </div>
      </div>


          {% if module.most_recent %}
            {% set selected_posts = blog_recent_tag_posts(57121617429, module.blog_tag, 1) %}
          {% else %}
            {% set selected_posts = content_by_ids([module.blog]) %}
          {% endif %}
          {% for post in selected_posts %}
            <a href="{{ post.absolute_url }}" class="single-hero__blog">
              <div class="row">
                <div class="col-12">
                  <div class="single-hero__image">
                    <img
                      src="{{ post.featured_image }}"
                      alt="Blog"
                    />
                  </div>
                  <div class="single-hero__link h4 arrow-right">{{ post.name }}</div>
                </div>
              </div>
            </a>
          {% endfor %}
     
    </div>
  </section>