  <!--- TOPICS --->
  <section class="topics">
    <div class="container">
      {% for item in module.topic %}
      
      {% set tag_slug = item.topic_tag %}
      {% set all_tags = blog_tags('default', 250) %}
        {% for tag in all_tags %}
           {% if tag_slug == tag.slug %}
              <!-- SINGLE TOPIC -->
              <div class="topics__topic">
                <div class="row">
                  <div class="col-12">
                    <div class="topics__topic-header h4">{{ tag.name }}</div>
                  </div>
                </div>

                <div class="row">
                  {% if item.most_recent %}
                    {% set selected_posts = blog_recent_tag_posts('default', tag.slug , 3) %}
                  {% else %}
                    {% set list = [] %}
                    {% for single in item.blogs %}
                      {% do list.append(single.blog) %}
                    {% endfor %}
                    {% set selected_posts = content_by_ids(list) %}
                  {% endif %}
                  {% for post in selected_posts %}
                    {% if loop.first %}
                      <div class="col-12 col-md-5">
                        <a href="{{ post.absolute_url }}" class="topics__topic-big">
                          <div class="topics__topic-big-image">
                            <img
                              src="{{ post.featured_image }}"
                              alt="Image"
                            />
                          </div>
                          <div class="topics__topic-big-title p1">
                            {{ post.name }}
                          </div>
                        </a>
                      </div>
                      <div class="d-none d-md-block col-1"></div>
                      <div class="col-12 col-md-6">
                    {% else %}
                      <a href="{{ post.absolute_url }}" class="topics__topic-small">
                        <div class="topics__topic-small-image">
                          <img
                            src="{{ post.featured_image }}"
                            alt="Image"
                          />
                        </div>
                        <div class="topics__topic-small-info">
                          <div class="topics__topic-small-title p1">
                            {{ post.name }}
                          </div>
                        </div>
                      </a>
                    {% endif %}
                    {% if loop.last %}
                      </div>
                    {% endif %}
                    
                  {% endfor %}
                </div>


                <div class="row">
                  <div class="col-12">
                    <a href="topic/{{ tag.slug }}" class="topics__topic-link h4 d-none d-md-block"
                      >View All Articles in {{ tag.name }}</a
                    >
                    <a href="topic/{{ tag.slug }}" class="topics__topic-link h4 d-block d-md-none"
                      >View Topic</a
                    >
                  </div>
                </div>
              </div>
              <!-- SINGLE TOPIC -->
            {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>
  <!--- TOPICS --->