  <!--- TOPICS --->
  <section class="topics">
    <div class="container">
      {% for item in module.topic %}
      
      {% set tag_slug = item.topic_tag %}
      {% set all_tags = blog_tags('default', 250) %}
        {% for tag in all_tags %}
           {% if tag_slug == tag.slug %}
              <!-- SINGLE TOPIC -->
              <div class="topics__topic">
                <div class="row">
                  <div class="col-12">
                    <div class="topics__topic-header h4">{{ tag.name }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="topics__topic-big">
                      <div class="topics__topic-big-image">
                        <img
                          src="https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/Topics/perspectives-1.png"
                          alt="Image"
                        />
                      </div>
                      <p class="topics__topic-big-title p1">
                        Work From Anywhere: Cost Comparisons for Work
                      </p>
                    </div>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-6">
                    <div class="topics__topic-small">
                      <div class="topics__topic-small-image">
                        <img
                          src="https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/Topics/perspectives-2.png"
                          alt="Image"
                        />
                      </div>
                      <div class="topics__topic-small-info">
                        <p class="topics__topic-small-title p1">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor
                          neque cras.
                        </p>
                      </div>
                    </div>
                    <div class="topics__topic-small">
                      <div class="topics__topic-small-image">
                        <img
                          src="https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/Topics/perspectives-3.png"
                          alt="Image"
                        />
                      </div>
                      <div class="topics__topic-small-info">
                        <p class="topics__topic-small-title p1">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor
                          neque cras.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <a href="topic/{{ tag.slug }}" class="topics__topic-link h4 d-block"
                      >View All Articles in {{ tag.name }}</a
                    >
                  </div>
                </div>
              </div>
              <!-- SINGLE TOPIC -->
            {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>
  <!--- TOPICS --->