<!--- LATEST ARTICLES --->
<section class="latest-articles">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="latest-articles__header h3">{% inline_text field="header" value="{{ module.header }}" %}</h2>
        </div>
      </div>

      {% if module.topic_tag %}

        {% set recent_posts = blog_recent_tag_posts(57176331600, module.topic_tag, 5) %}
      {% else %}
        {% set recent_posts = blog_recent_posts(57176331600, 5) %}
      {% endif %}
      
      {% for post in recent_posts %}
        <a href="{{ post.absolute_url }}" class="latest-articles__article">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="latest-articles__article-image">
                <img src="{{ post.featured_image }}" alt="Blog">
              </div>
            </div>
            <div class="d-none d-md-block col-1"></div>
            <div class="col-12 col-md-7">
              <div class="latest-articles__article-info">
                {% set splitDate = post.publish_date_localized|split(' ', 4) %}
                <div class="latest-articles__article-date eyebrow2">{{splitDate[0]}} {{splitDate[1]}} {{splitDate[2]}}</div>
                <div class="latest-articles__article-title p1">{{ post.name }}</div>
                <div class="latest-articles__article-description p2">{{ post.meta_description }}</div>
                <div class="latest-articles__article-read eyebrow3">{{ post.post_body|wordcount|divide(300) }} minute read</div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
      
      <span class="row">
        <div class="col-12">
          <a href="{{ blog_tag_url(57176331600, module.topic_tag) }}" class="latest-articles__load-more h4 arrow-down">Load More</a>
        </div>
      </span>
     
    </div>
</section>
<!--- LATEST ARTICLES --->