.benefits {
  padding-top: 60px;

  &__info {
    text-align: center;
  }

  &__label {
    color: $blue-text;
    margin-bottom: 24px;
  }

  &__header {
    margin-bottom: 72px;
  }

  &__image {
    width: 100%;
    height: 578px;
    border-radius: 18px;
    background-color: #c0c5c8;
    overflow: hidden;

    @include media-cover;
  }

  &__description {
    padding-top: 32px;
    margin-bottom: 48px;
  }

  &__benefit {
    display: flex;
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__benefit-number {
    color: $blue-text;
    width: 50px;
  }
}

@media screen and (max-width: breakpoint(md)) {
  .benefits {
    padding-top: 30px;

    &__label {
      margin-bottom: 16px;
    }

    &__header {
      margin-bottom: 24px;
    }

    &__image {
      height: 365px;
      border-radius: 8px;
    }

    &__description {
      padding-top: 24px;
      margin-bottom: 32px;
    }

    &__benefit {
      display: block;
      margin-bottom: 57px;
      text-align: center;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__benefit-number {
      font-size: 24px;
      line-height: 30px;
      width: 100%;
      margin-bottom: 8px;
    }
  }
}
