.blog-hero {
  position: relative;
  z-index: $z-ahead;
  height: 610px;
  background-color: #ecf8f6;
  overflow: hidden;

  .row,
  .col-12,
  &__image {
    height: 100%;
  }

  &__image {
    @include media-cover;
  }

  &__content {
    padding-top: 120px;
  }

  &__content-tag {
    color: #00609c;
    margin-bottom: 24px;
  }

  &__content-header {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: breakpoint(md)) {
  .blog-hero {
    height: auto;

    .row,
    .col-12,
    &__image {
    }

    &__content {
      padding: 48px 16px 60px;
    }

    &__content-tag {
      margin-bottom: 16px;
    }

    &__content-header {
      margin-bottom: 16px;
    }
  }
}
