.blog-body {
  padding: 74px 0 120px;

  &__top {
    margin-bottom: 8px;
  }

  &__helpers {
    max-width: 265px;
    top: 120px;
    position: sticky;
  }

  &__overview {
    padding: 32px 24px;
    background-color: #ecf8f6;
    width: 100%;
    border-radius: 8px;
  }

  &__overview-header {
    color: #00609c;
    margin-bottom: 16px;
  }

  &__overview-text {
    font-size: 14px;
    line-height: 28px;
  }

  &__cta {
    margin-top: 32px;
    padding: 24px 32px;
    border: 1px solid #00609c;
    width: 100%;
    border-radius: 8px;
  }

  &__cta-description {
    margin-bottom: 32px;
  }

  &__cta-button {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 8px;
    background-color: #00293a;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }

  &__content {
    padding: 32px 0;
    border-top: 2px solid #a1ded2;
    border-bottom: 2px solid #a1ded2;
  }

  &__read {
    color: #00609c;
  }

  &__resources {
    color: #00609c;
    max-width: 620px;
  }

  &__bottom {
    margin-top: 25px;
  }
}

@media screen and (max-width: breakpoint(md)) {
  .blog-body {
    padding: 34px 0 64px;

    &__top {
    }

    &__content {
      padding: 0 0 60px;
    }

    &__read {
    }
  }
}
