.blog-pagination {
  display: flex;
  padding-bottom: 120px;

  &__container {
    display: flex;
  }

  &__container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    border: 2px solid $color-text;
    color: $color-text;
    font-size: 17px;
    margin-right: 12px;
    @include hover-opacity;

    &.active {
      background-color: $color-text;
      color: #fff;
    }
  }
}

@media screen and (max-width: breakpoint(md)) {
  .blog-pagination {
    padding-bottom: 60px;

    &__container a {
      width: 40px;
      height: 40px;
      margin-right: 8px;
    }
  }
}
