$offset-top: 120px;

.blog-body {
  padding: 74px 0 120px;

  &__top {
    margin-bottom: 8px;
  }

  &__helpers {
    max-width: 265px;
    top: $offset-top;
    max-height: calc(100vh - #{$offset-top});
    overflow: scroll;
    position: sticky;
  }

  &__overview {
    padding: 32px 24px;
    background-color: $background-secondary;
    width: 100%;
    border-radius: 8px;
  }

  &__overview-header {
    color: $blue-text;
    margin-bottom: 16px;
  }

  &__overview-text {
    font-size: 14px;
    line-height: 28px;

    p.active {
      font-weight: bold;
      letter-spacing: -0.4px;
    }
  }

  &__cta {
    margin-top: 32px;
    padding: 24px 32px;
    border: 1px solid $blue-text;
    width: 100%;
    border-radius: 8px;
  }

  &__cta-description {
    margin-bottom: 32px;
  }

  &__cta-button {
    display: block;
    text-align: center;
    background-color: $color-text;
    color: #fff;
    line-height: 16px;
  }

  &__content {
    padding: 32px 0;
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;

    img {
      max-width: 100%;
      height: auto !important;
    }
  }

  &__read {
    color: $blue-text;
  }

  &__resources {
    color: $blue-text;
    max-width: 620px;
  }

  &__bottom {
    margin-top: 25px;
  }
}

@media screen and (max-height: 900px) {
  $offset-top: 20px;

  .blog-body {
    &__helpers {
      top: $offset-top;
      max-height: calc(100vh - #{$offset-top});
    }
  }
}

@media screen and (max-width: breakpoint(md)) {
  .blog-body {
    padding: 34px 0 64px;

    &__top {
    }

    &__content {
      padding: 48px 0 60px;
    }

    &__read {
    }
  }
}
