.cta {
  position: relative;
  padding: 120px 0 180px;
  background-color: $blue-text;
  display: flex;
  align-items: center;
  overflow-x: hidden;

  &__alignment {
    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: -135px;
    height: 100%;
    width: calc(100% + 135px);
    bottom: 35px;
    background: url("https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/Assets/line.svg")
      no-repeat bottom left / cover;
  }

  &.scenario::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    background: url("https://f.hubspotusercontent30.net/hubfs/4810033/Vector%20%284%29.png")
      no-repeat center right/contain;
    height: 95%;
  }

  &__header {
    color: #fff;
    margin-bottom: 24px;
  }

  &__description {
    color: #fff;
    margin-bottom: 24px;
    max-width: 900px;
  }

  &__buttons {
    margin-top: 8px;
  }

  &__button {
    color: #fff;
    border-color: #fdcf85;
    margin-right: 16px;

    &.background {
      color: $color-text;
      background-color: #fdcf85;
    }
  }
}

@media screen and (max-width: breakpoint(lg)) {
  .cta {
    padding: 60px 0;

    &::before {
      left: 0;
      height: 32vw;
      bottom: 150px;
    }

    &.scenario::before {
      bottom: 0;
      height: 100%;
    }

    &__header {
    }

    &__button {
    }

    &__get-in-touch {
    }
  }
}

@media screen and (max-width: breakpoint(sm)) {
  .cta {
    &__button {
      margin-right: 0;
      margin-bottom: 12px;
    }
  }
}
