.explore {
  padding: 90px 0 120px;
  background-color: $background-secondary;

  &__items {
    margin-top: 48px;
  }

  &__item {
    padding: 25px 0;
    padding-left: 30px;
    border-radius: 8px;
    border: 2px solid $color-text;
    margin-bottom: 32px;
    color: $color-text;

    @include hover-opacity;
  }

  &__icon {
    margin-right: 21px;

    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }

  &__text {
    font-weight: 700;
  }
}

@media screen and (max-width: breakpoint(md)) {
  .explore {
    padding: 60px 0;

    &__items {
      margin-top: 32px;
    }

    &__item {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 32px;
    }

    &__icon {
      img {
        width: 34px;
        height: 34px;
      }
    }
  }
}
