.most-popular{
    padding:120px 0;
    
    &__blogs{
        margin-top: 72px;
    }

    &__blog-image img{
        width:100%;
        height: 280px;
        object-fit: cover;
        border-radius: 16px;
    }
    
    &__blog-description{
        margin-top: 8px;
    }
}