.most-popular {
  padding: 120px 0;

  &__blogs {
    margin-top: 72px;
  }

  &__blog {
    color: $color-text;
    display: block;
  }

  &__blog-image {
    width: 100%;
    height: 280px;
    border-radius: 16px;

    @include media-cover;
    @include image-zoom;
  }

  &__blog-description {
    margin-top: 8px;
  }
}

@media screen and (max-width: breakpoint(md)) {
  .most-popular {
    $el: &;
    padding: 60px 0;

    &__header {
      font-size: 24px;
      line-height: 30px;
    }

    &__blogs {
      margin-top: 32px;

      .col-12:last-of-type #{$el}__blog {
        margin-bottom: 0;
      }
    }

    &__blog {
      margin-bottom: 32px;
    }

    &__blog-image {
      height: 240px;
    }

    &__blog-description {
      margin-top: 24px;
    }
  }
}
