.resource-hero {
  padding: 120px 0;

  &__header-section {
    text-align: center;
  }

  &__header {
    margin: 0 auto;
    max-width: 1160px;
  }

  &__description {
    margin: 0 auto;
    max-width: 761px;
    margin-top: 24px;
  }

  &__blogs {
    margin-top: 72px;
  }

  &__blog {
    display: block;
    color: #00293a;
  }

  &__blog-image img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 16px;
  }

  &__blog-type {
    text-transform: uppercase;
    color: #00609c;
    font-size: 14px;
    line-height: 16px;
    margin-top: 24px;
    font-weight: bold;
  }

  &__blog-description {
    margin-top: 8px;
  }
}

@media screen and (max-width: breakpoint(md)) {
  .resource-hero {
    $el: &;
    padding: 60px 0;

    &__header {
    }

    &__description {
      margin-top: 16px;
    }

    &__blogs {
      margin-top: 60px;

      .col-12:last-of-type #{$el}__blog {
        margin-bottom: 0;
      }
    }

    &__blog {
      margin-bottom: 32px;
    }

    &__blog-image img {
    }

    &__blog-type {
    }

    &__blog-description {
      margin-top: 8px;
    }
  }
}
