.single-hero {
  padding: 120px 0;

  &__header-section {
    text-align: center;
  }

  &__header {
    margin: 0 auto;
    max-width: 1160px;
  }

  &__description {
    margin: 0 auto;
    max-width: 761px;
    margin-top: 24px;
  }

  &__image {
    margin-top: 72px;
    height: 465px;
    border-radius: 16px;

    @include media-cover;
    @include image-zoom;
  }

  &__blog {
    display: block;
    color: $color-text;
  }

  &__link {
    display: block;
    margin-top: 24px;
    color: $color-text;
  }
}

@media screen and (max-width: breakpoint(md)) {
  .single-hero {
    padding: 60px 0;

    &__header {
    }

    &__description {
      margin-top: 16px;
    }

    &__image {
      margin-top: 60px;
      height: 246px;
    }

    &__link {
    }
  }
}
