.subscribe {
  position: relative;
  height: 368px;
  background: no-repeat center center / cover;
  display: flex;
  align-items: center;

  &__header {
    color: #fff;
  }
}

@media screen and (max-width: breakpoint(md)) {
  .subscribe {
    height: auto;
    padding: 86px 0;

    &__header {
      margin-bottom: 32px;
    }
  }
}
