.subscribe {
  position: relative;
  height: 368px;
  background-color: #00609c;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: -135px;
    height: 100%;
    width: calc(100% + 135px);
    bottom: 35px;
    background: url("https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/Assets/line.svg") no-repeat bottom left / cover;
  }

  &__header {
    color: #fff;
  }
}
