{% set content = content_by_id(module.blog_field) %}
<section class="single-post {% if module.background %}background{% endif %}">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          {% if module.image_field.src %}
             {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
            <img class="single-post__image" src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }}>
          {% else %}
            <img class="single-post__image" src="{{ content.featured_image }}" alt="{{ content.name }}">
          {% endif %}
        </div>
        <div class="d-none d-md-block col-1"></div>
        <div class="col-12 col-md-5">
          <div class="single-post__info-container">
            <div class="single-post__info">
              <h2 class="single-post__header h3">
                {{content.name}}
                {% inline_text field="header" value="{{ module.header }}" %}
              </h2>
              <div class="single-post__description p1">
                {% if module.description %}
                  {% inline_rich_text field="description" value="{{ module.description }}" %}
                {% else %}
                  {{content.meta_description}}
                {% endif %}
              </div>
              <a href="{{ content.absolute_url }}" class="single-post__button button">learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
 </section>