.header-blue {
  $el: &;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: bold;
  z-index: $z-header;

  &__container {
    background-color: #00293a;
    padding: 30px 0;
    transition: transform 0.3s ease("fluid");
  }

  &.hidden &__container {
    transform: translateY(-100%);
  }

  &__logo {
    margin-bottom: -4px;
  }

  &__link-container {
    position: relative;
    display: inline-block;
    margin-right: 35px;
  }

  &__link {
    font-size: 16px;
    line-height: 25px;
    color: #fff;

    @include hover-opacity;
  }

  &__link.arrow-down-white {
    &::after {
      content: "";
      display: inline-block;
      margin-left: 6px;
      width: 12px;
      height: 9px;
      background-image: url("https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/Header%20Blue%20Icons/dropdown.svg");
      @include transition(transform 0.2s ease("fluid"));
    }
  }

  &__link-container.open {
    #{$el}__link::after {
      transform: rotate(180deg);
    }

    #{$el}__link-menu {
      display: block;
    }
  }

  &__link-menu {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    width: 382px;
    border-radius: 8px;
    background-color: #00293a;
    border: 1px solid #204d58;
    z-index: $z-header;
    padding: 24px 0;
  }

  &__link-menu-single {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 33px;
    @include transition(background-color 0.2s ease("fluid"));

    &:hover {
      background-color: #204d58;
    }
  }

  &__link-menu-single-icon {
    width: 33px;
    margin-right: 17px;
  }

  &__link-menu-single-text {
    color: #fff;
  }

  &__subscribe {
    color: #00293a;
    background-color: #a1ded2;
    border-color: #a1ded2;
  }

  &__get-in-touch {
    margin-left: 40px;
    color: #fff;
    border-color: #a1ded2;
  }
}

@media screen and (max-width: breakpoint(md)) {
  .header-blue {
    $el: &;

    &__container {
      padding: 15px 0;
    }

    &.hidden &__container {
      transform: none;
    }

    &__logo {
      margin-bottom: 0;
    }

    &__hamburger {
      width: 18px;
      cursor: pointer;
      float: right;

      span {
        display: block;
        height: 2px;
        margin-bottom: 3px;
        border-radius: 15px;
        background-color: #fff;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &__dropdown {
      position: fixed;
      top: 66px;
      left: 0;
      padding-top: 24px;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: -1;
      opacity: 0;
      pointer-events: none;
      @include transition(opacity 0.2s ease("fluid"));
    }

    &.open &__dropdown {
      opacity: 1;

      pointer-events: all;
    }

    &__dropdown-link-container.open {
      background-color: #ecf8f6;

      #{$el}__dropdown-link::after {
        transform: translateY(-50%) rotate(180deg);
      }

      #{$el}__dropdown-link-menu {
        display: block;
      }
    }

    &__dropdown-link {
      display: block;
      padding: 8px 0;
      margin: 0 32px;
      color: #00293a;

      &::after {
        @include transition(transform 0.2s ease("fluid"));
      }
    }

    &__dropdown-link-menu {
      display: none;
      background-color: #fff;
      padding: 0 48px;
      padding-top: 8px;
    }

    &__dropdown-link-menu-single {
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
      margin-bottom: 4px;
      color: #00293a;
    }

    &__dropdown hr {
      border-color: #c0c5c8;
      border-top: none;
    }
  }
}
