.popup-get-in-touch,
.popup-subscribe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1040px;
  width: 100%;
  background-color: #fff;
  z-index: $z-modal;
  opacity: 0;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  &::after {
    content: "";
    position: absolute;
    background: no-repeat center center / cover;
    // background-image: url("{{ get_asset_url('../images/svg/subscribe-line.svg') }}");
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .row {
    height: 100%;
  }

  &__left {
    background-color: #003a5d;
    height: 100%;
    color: #fff;
    padding-top: 115px;
    padding-left: 42px;
    padding-right: 60px;
  }

  &__header {
    margin-bottom: 10px;
  }

  &__form {
    padding-top: 115px;
    padding-left: 40px;
    padding-right: 51px;
    width: 100%;
    position: relative;
    z-index: 1;
  }
}
