.popup-get-in-touch,
.popup-subscribe,
.popup-blog-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1040px;
  width: 100%;
  background-color: #fff;
  z-index: $z-modal;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  &::after {
    content: "";
    position: absolute;
    background: no-repeat center center / cover;
    // background-image: url("{{ get_asset_url('../images/svg/subscribe-line.svg') }}");
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .row {
    height: 100%;
  }

  .row > .col,
  .row > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    z-index: $z-overlay;
    cursor: pointer;

    @include hover-opacity;

    span {
      position: absolute;
      display: block;
      width: 2px;
      height: 21px;
      background: $color-text;
      transform: rotate(135deg);
      right: 8px;

      &:last-child {
        transform: rotate(45deg);
      }
    }
  }

  &__left {
    background-color: #003a5d;
    height: 100%;
    color: #fff;
    padding-top: 115px;
    padding-left: 42px;
    padding-right: 60px;
  }

  &__header {
    margin-bottom: 10px;
  }

  &__form {
    padding-top: 115px;
    padding-left: 40px;
    padding-right: 51px;
    width: 100%;
    position: relative;
    z-index: $z-ahead;
  }
}

@media screen and (max-width: breakpoint(md)) {
  .popup-get-in-touch,
  .popup-subscribe {
    height: auto !important;

    &__left {
      padding: 40px 35px;
    }

    &__header {
      margin-bottom: 14px;
    }

    &__form {
      padding: 40px 35px;
    }

    &__close {
      top: 14px;
      right: 14px;

      span {
        background-color: #fff;
      }
    }
  }
}
