<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Blogs Content
-->

{% extends "./layouts/base.html" %} {% block body %}
<main id="main-content" class="body-container-wrapper main case-study">
		{% module 'blog-image' path="../modules/blog-image" %}
    <div class="container">
        <div class="case-study__content-wrapper">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="case-study__content">
                        <div class="case-study__header">
                            <div class="case-study__post-type">
                              Blog
                            </div>
                            <div class="case-study__tags">
                                {# TAGS LOGIC #}
																{% for item in content.tag_list %}
                                <span class="case-study__tag">{{item}}</span>
																{% endfor %}
                            </div>
                            <h1 class="case-study__title">{{ content.name }}</h1>
                            <div class="case-study__meta">
                                <div class="case-study__meta-info">
                                    <span class="case-study__meta-icon">
                                      <img
                                        src="{{ get_asset_url('../build/assets/icons/svg/icon_reading-time.svg') }}"
                                        alt="Reading Time"
                                      />
                                    </span>
                                    <span class="case-study__meta-text">
                                      {{ content.post_body|wordcount|divide(300) }} Min Read
                                    </span>
                                </div>
                                <div class="case-study__meta-info">
                                    <span class="case-study__meta-icon">
                                      <img
                                        src="{{ get_asset_url('../build/assets/icons/svg/icon_date.svg') }}"
                                        alt="Date"
                                      />
                                    </span>
                                    <span class="case-study__meta-text">
                                      {{ datetimeformat(content.publish_date_local_time, '%b %d, %Y') }} 
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="case-study__text-content">
													<div class="case-study__text-content__text">
                            {{ content.post_body }}
													</div>
                        </div>
												<div class="case-study__social">
													<div class="case-study__social__title">Share this article</div>
													<div class="d-flex">
															<a href="https://twitter.com/intent/tweet?text={{ page_meta.name }}%0A{{ request.full_url }}" class="case-study__social__share" target="_blank" rel="noopener">
																<img
																	src="{{ get_asset_url('../build/assets/icons/svg/icon_twitter.svg') }}"
																	alt="Twitter"
																/>
															</a>
															<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.full_url }}" class="case-study__social__share" target="_blank" rel="noopener">
																<img
																	src="{{ get_asset_url('../build/assets/icons/svg/icon_facebook.svg') }}"
																	alt="Facebook"
																/>
															</a>
															<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.full_url }}&title={{ page_meta.name }}&summary=&source=" class="case-study__social__share" target="_blank" rel="noopener">
																<img
																	src="{{ get_asset_url('../build/assets/icons/svg/icon_linkedin.svg') }}"
																	alt="Linkedin"
																/>
															</a>
													</div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block col-md-4 col-lg-3">
                    {# DEMO BLOCK HERE #}
                </div>
            </div>

            {% if group.allow_comments %}
              <div class="blog-comments">
                {% module "blog_comments"
                  path="@hubspot/blog_comments",
                  label="Blog comments"
                %}
              </div>
            {% endif %}

            {% module 'related-posts' path="../modules/related-posts" %}
        </div>
    </div>
    {% module 'cta-block' path="../modules/cta" %}
</main>
{% endblock body %}