<!--
  templateType: page
  isAvailableForNewContent: true
  label: Blog
  screenshotPath: ../images/template-previews/blog.png
-->
{% extends "./layouts/base.html" %} {% block body %} {# The main-content ID is
used for the navigation skipper in the header.html file. More information on the
navigation skipper can be found here:
https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

<main id="main-content" class="body-container-wrapper">
    <!--- BLOG HERO --->
    <section class="blog-hero">
        <div class="row">
            <div class="col-6">
              <div class="blog-hero__image">
                <img src="https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/Blogs/hero.png" alt="Hero image" />
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <div class="blog-hero__content"></div>
            </div>
        </div>
    </section>
    <!--- BLOG HERO --->

    <!--- BLOG BODY --->
      <section class="blog-body">
        <div class="container">
          <div class="row">
              <div class="col-3">
                <div class="blog-body__helpers">
                  <div class="blog-body__table-of-contents">
                    <div class="blog-body__table-of-contents-header p1">
                      Table of Contents
                    </div>
                    <div class="blog-body__table-of-contents-text">
                      <b>Overview</b><br/>
                      What’s a hybrid workplace
                      What does Work from 
                      Anywhere (WF ...)
                      Which workplace policy is best?
                      Will your employer go WFA?
                      One platform to serve them all
                    </div>
                  </div>
                  <div class="blog-body__cta">
                    <div class="blog-body__cta-description p2">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. adipiscing elit. 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-9">
                <div class="blog-body__content"></div>
              </div>
          </div>
        </div>
      </section>
    <!--- BLOG BODY --->

    <!--- CTA --->
    <section class="cta">
        <div class="container">
        <div class="row">
            <div class="col-12">
            <h2 class="cta__header">
                Ready to continue your journey? </br> There are two great ways to do it.
            </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="cta__explore button">Explore Workplace Manager</a>
                <a class="cta__get-in-touch button">Get in touch</a>
            </div>
        </div>
        </div>
    </section>
    <!--- CTA --->

    <!--- MOST POPULAR --->
    <section class="most-popular">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="most-popular__header h3">Most Popular</h2>
            </div>
          </div>
    
          <div class="most-popular__blogs">
            <div class="row">
              <div class="col-4">
                <div class="most-popular__blog">
                  <div class="most-popular__blog-image">
                    <img
                      src="https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/Resource%20Hero/blog-1.png"
                      alt="Blog"
                    />
                  </div>
                  <p class="most-popular__blog-description p1">
                    How to setup your hybrid workplace program in 3 steps.
                  </p>
                </div>
              </div>
              <div class="col-4">
                <div class="most-popular__blog">
                  <div class="most-popular__blog-image">
                    <img
                      src="https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/Resource%20Hero/blog-2.png"
                      alt="Blog"
                    />
                  </div>
                  <p class="most-popular__blog-description p1">
                    Guide to lorem ipsum dolor sit amet, consectetur adipiscing elit
                  </p>
                </div>
              </div>
              <div class="col-4">
                <div class="most-popular__blog">
                  <div class="most-popular__blog-image">
                    <img
                      src="https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/Resource%20Hero/blog-3.png"
                      alt="Blog"
                    />
                  </div>
                  <p class="most-popular__blog-description p1">
                    Checklist: Is your dolor sit amet, consectetur adipiscing elit?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!--- MOST POPULAR --->
</main>
{% endblock body %}
