<!--
  templateType: page
  isAvailableForNewContent: true
  label: Resources
  screenshotPath: ../images/template-previews/resources.png
-->
{% extends "./layouts/base.html" %} {% block body %} {# The main-content ID is
used for the navigation skipper in the header.html file. More information on the
navigation skipper can be found here:
https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' label='Main section'  class='body-container' %}

  {# Resource Hero Section #}
  {% dnd_section
  %}
    {% dnd_module
      path='../modules/resource-hero',
      header='Lorem ipsum dolor sit amet consectetur adipiscing elit.',
      description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
      pulvinar sem a tincidunt pharetra lacinia. Ante dictumst volutpat
      feugiat quis cursus volutpat.'
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}

  {# Explore Section #}
  {% dnd_section
  %}
    {% dnd_module
      path='../modules/explore'
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}

  {# Single Post Section #}
  {% dnd_section
  %}
    {% dnd_module
      path='../modules/single-post',
      header="Design your Hybrid Workplace in 4 Steps",
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
      pulvinar sem a tincidunt pharetra lacinia. Ante dictumst
      volutpat feugiat quis cursus volutpat."
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}

  {# Subscribe Section #}
  {% dnd_section
  %}
    {% dnd_module
      path='../modules/subscribe',
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}

  {# Topics Section #}
  {% dnd_section
  %}
    {% dnd_module
      path='../modules/topics',
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}
