<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label:  Topics listing
-->
{% extends "./layouts/base.html" %} {% block body %} {# The main-content ID is
  used for the navigation skipper in the header.html file. More information on the
  navigation skipper can be found here:
  https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

<main id="main-content" class="body-container-wrapper">

  <section class="blog-listing">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="blog-listing__header h2">Topics Listing</h1>
        </div>
      </div>
    </div>
  </section>



  <!--- LATEST ARTICLES --->
  <section class="latest-articles">
    <div class="container">

      {% for content in contents %}
        <!--- ARTICLE --->
        <a href="{{ content.absolute_url }}" class="latest-articles__article">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="latest-articles__article-image">
                <img src="{{ content.featured_image }}" alt="Blog">
              </div>
            </div>
            <div class="d-none d-md-block col-1"></div>
            <div class="col-12 col-md-7">
              <div class="latest-articles__article-info">
                {% set splitDate = content.publish_date_localized|split(' ', 4) %}
                <div class="latest-articles__article-date eyebrow2">{{splitDate[0]}} {{splitDate[1]}} {{splitDate[2]}}</div>
                <div class="latest-articles__article-title p1">{{ content.name }}</div>
                <div class="latest-articles__article-description p2">{{ content.meta_description }}</div>
                <div class="latest-articles__article-read eyebrow3">{{ content.post_body|wordcount|divide(300) }} minute read</div>
              </div>
            </div>
          </div>
        </a>
        <!--- ARTICLE --->
      {% endfor %}
     
    </div>
  </section>
</main>
{% endblock body %}