<section class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="how-it-works__info">
          <div class="how-it-works__label eyebrow">
            {% inline_text field="label_text" value="{{ module.label_text }}" %}
          </div>
          <div class="how-it-works__header h2">
            {% inline_text field="header" value="{{ module.header }}" %}
          </div>
          <div class="how-it-works__description p2">
            {% inline_rich_text field="richtext_field" value="{{ module.richtext_field }}" %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
     
      {% for item in module.steps %}
      <div class="how-it-works__step">
        
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="how-it-works__step-video">
               {% if item.step_videoplayer_field.player_id %}
                {% widget_block video_player "embed_player"
                  overrideable=False,
                  type='scriptV4',
                  hide_playlist=True,
                  viral_sharing=False,
                  embed_button=False,
                  full_width={{ item.step_videoplayer_field.size_type == 'auto_full_width' }},
                  player_id="{{ item.step_videoplayer_field.player_id }}"
                %}
                  {% widget_attribute "conversion_asset" %}
                    {{ item.step_videoplayer_field.conversion_asset|tojson|safe }}
                  {% end_widget_attribute %}
                {% end_widget_block %}
              {% endif %}
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="how-it-works__step-info">
                <div class="how-it-works__step-number h4">
                  {{loop.index}}
                </div>
                <div class="how-it-works__step-header h3">
                  {% inline_text field="step_header" value="{{ item.step_header }}" %}
                </div>
                <div class="how-it-works__step-description p2">
                  {% inline_rich_text field="step_description" value="{{ item.step_description }}" %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      {% endfor %}
     </div>
  </div>
</section>