  <section class="explore">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="explore__header h3">{% inline_text field="header" value="{{ module.header }}" %}</h2>
        </div>
      </div>
      
 
      <div class="explore__items">
        <div class="row">
          
          {% for item in module.item %}
            
            {% set tag_slug = item.item_tag_field %}
            {% set all_tags = blog_tags(57121617429, 250) %}

            {% for tag in all_tags %}
              {% if tag_slug == tag.slug %}
              <div class="col-12 col-md-4">
                <a href="/{{ tag.slug }}" class="explore__item d-flex align-items-center">
                  <div class="explore__icon">
                    <img
                      src="{{ get_asset_url('../images/module-icons/' + tag.slug + '.svg') }}"
                      alt="{{ tag.name }}"
                    />
                  </div>
                  <div class="explore__text h4">{{ tag.name }}</div>
                </a>
              </div>
               {% endif %}
            {% endfor %}
          {% endfor %}
 
        </div>
      </div>
    </div>
  </section>